body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F6F6;
}

.navbar {
  margin-bottom: 30px;
}

.clickable{
  cursor: pointer;
}

.app-aria{
  border: 1px solid #ccc;
  background-color: #FBFCFC;
  border-radius: 3px;
  color: #4e4e4e;
  padding: 30px;
  padding-top: 0;
}

.wide-aria{
  color: #4e4e4e;
  padding: 50px;
  padding-top: 30px;
}

.jumbotron{
  background-color: #F4F6F6 !important;
}
.search-box {
  border: 1px solid #ccc;
  background-color: #FBFCFC;
  border-radius: 3px;
  color: #4e4e4e;
  padding: 15px;
  margin: -14px;
  margin-bottom: 10px;
}

.app1{
  border: 1px solid #8E44AD;
  color: rgb(16, 69, 116);
  background-color: #D2B4DE;
  padding: 15px;
  padding-bottom: 50px;
  margin: 10px;
}
.app2{
  border: 1px solid #CB4335;
  border-radius: 3px;
  color: rgb(28, 16, 138);
  background-color: #FADBD8;
  padding: 15px;
  padding-bottom: 50px;
  margin: 10px;
}
.app3{
  border: 1px solid #D4AC0D;
  border-radius: 3px;
  color: rgb(13, 58, 97);
  background-color: #F7DC6F;
  padding: 15px;
  padding-bottom: 50px;
  margin: 10px;
}



